

<%= link_to "Create New Listing", new_listing_path %>
<table>
  <% @listings.each do |listing| %>
  <tr>
    <td><%= link_to listing.title, listing %></td>
    <td><%= listing.description %></td>
  </tr>
  <% end %>
  <%= paginate @listings %>
</table>

<div id="search-form">
  <%= form_for :listings, method: :get do |form| %>
  <div>
    <%= text_field_tag 'keyword' %>
  </div>

  <div>
    <%= form.label :max_guests %>
    <%= number_field_tag 'max_guest', nil, min: 1 %>
  </div>

  <div>
    <%= form.label :min_price %>
    <%= number_field_tag 'price' %>
  </div>

  <div>
    <%= form.label :max_price %>
    <%= number_field_tag 'price' %>
  </div>

  <%= submit_tag "Search" %>
  <%end%>
</div>
