<h1>Title: <%= @listing.title %></h1>
<p>Description: <%= @listing.description %></p>
<p>Max Guest: <%= @listing.max_guest %></p>
<p>Price: <%= @listing.price %></p>
<%= link_to "Edit", edit_listing_path(@listing) %>

<%= render "bookings/form" %>
